<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - INNOTEC_Proyect</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <!-- Custom site CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/logo.jpg" alt="Logo" height="80">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Products">Productos</a>
                        </li>
                        @if (User.IsInRole("1") || User.IsInRole("2") || User.IsInRole("4"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Gestión/Administración
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                    @if (User.IsInRole("1"))
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Index">Gestión de Usuarios</a></li>
                                    }
                                    @if (User.IsInRole("1") || User.IsInRole("2") || User.IsInRole("4"))
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Capturista" asp-action="Capturista">Gestión de productos</a>
                                    }
                                    @if (User.IsInRole("1") || User.IsInRole("4"))
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Envios" asp-action="Index">Gestión de Envíos</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                    <div class="navbar-nav ms-auto d-flex align-items-center">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    var userIdClaim = User.FindFirst("UserId");
                                    if (userIdClaim != null)
                                    {
                                        int idUsuario = int.Parse(userIdClaim.Value);
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Carrito" asp-action="GetByUserId" asp-route-idUsuario="@idUsuario">Carrito de compras</a>
                                    </li>
                                    }
                                }
                                else
                                {
                                <a class="nav-link text-dark" href="@Url.Action("Login", "Login")">
                                    <img src="~/images/usuario.png" alt="Profile Picture" class="rounded-circle" height="40">
                                </a>
                                }
                            </li>
                            <div class="dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/images/usuario.png" alt="Profile Picture" class="rounded-circle" height="40">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="Edit">Edit Profile</a></li>
                                    <li>
                                        <form method="post" asp-controller="Login" asp-action="Logout" class="dropdown-item">
                                            <button type="submit" class="btn btn-link p-0 m-0 align-baseline">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a class="nav-link text-dark" href="@Url.Action("Login", "Login")">
                                <img src="~/images/usuario.png" alt="Profile Picture" class="rounded-circle" height="40">
                            </a>
                        }
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer-bottom">
            &copy; 2024 - INNOTEC_Proyect - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        <div class="container">
            <div class="footer-content">
                <div class="column">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="footerDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Más información
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="footerDropdown">
                        <div class="row">
                            <div class="col-md-4">
                                <h6>Mensaje de Privacidad</h6>
                                <p>&copy; 2024 - INNOTEC_Proyect - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
                            </div>
                            <div class="col-md-4">
                                <h6>Visítanos</h6>
                                <p><a href="https://www.google.com/maps/place/[Tu+Dirección+Aquí]" target="_blank">Ubicación en Google Maps</a></p>
                            </div>
                            <div class="col-md-4">
                                <h6>Nuestras Redes</h6>
                                <div class="social-links">
                                    <a href="https://www.facebook.com" target="_blank">
                                        <img src="~/images/facebook.png" alt="Facebook" class="social-icon">
                                    </a>
                                    <a href="https://www.twitter.com" target="_blank">
                                        <img src="~/images/twitter.png" alt="Twitter" class="social-icon">
                                    </a>
                                    <a href="https://www.instagram.com" target="_blank">
                                        <img src="~/images/instagram.png" alt="Instagram" class="social-icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery, necessary for Bootstrap's JavaScript plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap Bundle JS includes Popper -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
