@model HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "One Product";
}

@section Styles {
    <link rel="stylesheet" href="~/css/productos.css" asp-append-version="true" />
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @foreach (var dept in Model.MenuItems)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink@dept.IdDepartamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @dept.Nombre
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink@dept.IdDepartamento">
                            @if (dept.Productos.Any())
                            {
                                <li>
                                    <a class="dropdown-item" href="#">Productos del Departamento</a>
                                    <ul class="dropdown-menu">
                                        @foreach (var prod in dept.Productos)
                                        {
                                            <li><a class="dropdown-item" href="@Url.Action("OneProduct", "Home", new { id = prod.IdProductos })">@prod.Nombre</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            @foreach (var cat in dept.Categoria)
                            {
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">@cat.Nombre</a>
                                    <ul class="dropdown-menu">
                                        @if (cat.Productos.Any())
                                        {
                                            <li>
                                                <a class="dropdown-item" href="#">Productos de la Categoría</a>
                                                <ul class="dropdown-menu">
                                                    @foreach (var prod in cat.Productos)
                                                    {
                                                        <li><a class="dropdown-item" href="@Url.Action("OneProduct", "Home", new { id = prod.IdProductos })">@prod.Nombre</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        @foreach (var sub in cat.Subcategoria)
                                        {
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item dropdown-toggle" href="#">@sub.Nombre</a>
                                                <ul class="dropdown-menu">
                                                    @foreach (var prod in sub.Productos)
                                                    {
                                                        <li><a class="dropdown-item" href="@Url.Action("OneProduct", "Home", new { id = prod.IdProductos })">@prod.Nombre</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
            <div class="search-container">
                <form class="d-flex" method="get" asp-controller="Home" asp-action="GetByName" id="searchForm">
                    <input class="form-control me-2 search-input" type="search" name="search" placeholder="Search" aria-label="Search" autocomplete="off">
                </form>
                <div class="search-results" style="display: none;"></div>
            </div>
        </div>
    </div>
</nav>

<div class="wrapper">
    <div class="product-img">
        @if (Model.Producto.ImagenDelProducto != null)
        {
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Producto.ImagenDelProducto)" alt="@Model.Producto.Nombre" height="420" width="327">
        }
        else
        {
            <img src="~/Images/no-image-available.png" alt="No image available" height="420" width="327">
        }
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>@Model.Producto.Nombre</h1>
            <p>@Model.Producto.DescripcionDelProducto</p>
        </div>
        <div class="product-price-btn">
            <p><span>@Model.Producto.Precio</span>$</p>
            <button id="addCarritoBtn" class="btn btn-primary" onclick="addCarrito(@Model.Producto.IdProductos)">Añadir al carrito</button>
            <div id="statusMessage" class="alert d-none mt-2"></div>
        </div>
    </div>
</div>

<script>

    function addCarrito(idProducto) {
        var button = $('#addCarritoBtn');
        var statusMessage = $('#statusMessage');
        button.prop('disabled', true).html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Cargando...');

        $.post('/Carrito/AddCarrito', { idProducto: idProducto })
            .done(function (response) {
                statusMessage.removeClass('d-none alert-danger').addClass('alert-success').text(response.message);
                button.html('Producto agregado').removeClass('btn-primary').addClass('btn-success');

                setTimeout(function () {
                    statusMessage.addClass('d-none');
                    button.prop('disabled', false).html('Añadir al carrito').removeClass('btn-success').addClass('btn-primary');
                }, 5000);
            })
            .fail(function (error) {
                statusMessage.removeClass('d-none alert-success').addClass('alert-danger').text('Error al agregar producto: ' + error.responseJSON.message);
                button.prop('disabled', false).html('Añadir al carrito');

                setTimeout(function () {
                    statusMessage.addClass('d-none');
                }, 5000);
            });
    }
</script>
