@model HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/stylecatalogo.css" />
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CATALOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @foreach (var dept in Model.MenuItems)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink@dept.IdDepartamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @dept.Nombre
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink@dept.IdDepartamento">
                            @if (dept.Productos.Any())
                            {
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Productos del Departamento</a>
                                    <ul class="dropdown-menu">
                                        @foreach (var prod in dept.Productos)
                                        {
                                            <li><a class="dropdown-item" href="@Url.Action("OneProduct", "Home", new { id = prod.IdProductos })">@prod.Nombre</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            @foreach (var cat in dept.Categoria)
                            {
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">@cat.Nombre</a>
                                    <ul class="dropdown-menu">
                                        @if (cat.Productos.Any())
                                        {
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item dropdown-toggle" href="#">Productos de la Categoría</a>
                                                <ul class="dropdown-menu">
                                                    @foreach (var prod in cat.Productos)
                                                    {
                                                        <li><a class="dropdown-item" href="@Url.Action("OneProduct", "Home", new { id = prod.IdProductos })">@prod.Nombre</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        @foreach (var sub in cat.Subcategoria)
                                        {
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item dropdown-toggle" href="#">@sub.Nombre</a>
                                                <ul class="dropdown-menu">
                                                    @foreach (var prod in sub.Productos)
                                                    {
                                                        <li><a class="dropdown-item" href="@Url.Action("OneProduct", "Home", new { id = prod.IdProductos })">@prod.Nombre</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
            <div class="search-container position-relative">
                <form class="d-flex" method="get" asp-controller="Home" asp-action="GetByName">
                    <input class="form-control me-2 search-input" type="search" name="search" placeholder="Search" aria-label="Search" autocomplete="off">
                    <div class="search-results dropdown-menu" style="display: none;"></div>
                </form>
            </div>
        </div>
    </div>
</nav>

@if (Model.Productos != null && Model.Productos.Count > 0)
{
    <div class="shell">
        <div class="container">
            <div class="row">
                @foreach (var producto in Model.Productos)
                {
                    <div class="col-md-3">
                        <div class="wsk-cp-product">
                            <div class="wsk-cp-img">
                                @if (producto.ImagenDelProducto != null)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(producto.ImagenDelProducto)" alt="Product" class="img-responsive" />
                                }
                                else
                                {
                                    <img src="~/Images/no-image-available.png" alt="No image available" class="img-responsive" />
                                }
                            </div>
                            <div class="wsk-cp-text">
                                <div class="category">
                                    <span>"Oferta"</span>
                                </div>
                                <div class="title-product">
                                    <h3>@producto.Nombre</h3>
                                </div>
                                <div class="description-prod">
                                    <p>@producto.DescripcionDelProducto</p>
                                </div>
                                <div class="card-footer">
                                    <div class="wcf-left"><span class="price">@producto.Precio $</span></div>
                                    <div class="wcf-right">
                                        <button type="button" class="buy-btn" onclick="addCarrito(@producto.IdProductos)">
                                            Añadir al carrito
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="productToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
        <div class="toast-header">
            <img src="~/Images/shop.svg" class="rounded me-2" alt="...">
            <strong class="me-auto">Añadido</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Producto agregado correctamente.
        </div>
    </div>
</div>

<script>
    function addCarrito(idProducto) {
        $.post('@Url.Action("AddCarrito", "Carrito")', { idProducto: idProducto })
            .done(function (response) {
                var toast = new bootstrap.Toast(document.getElementById('productToast'));
                toast.show();
            })
            .fail(function () {
                alert('Error al agregar el producto al carrito.');
            });
    }
</script>

